/* Styles de base pour left-part */
.left-part {
    padding: 20px;
    padding-top: 12vh;
    color: white;
    position: relative;
}

/* Configuration de la grille */
.sun-grid {
    display: grid;
    grid-template-columns: 1fr auto; /* Deux colonnes de taille égale */
    gap: 20px; /* Espacement entre les éléments */
    row-gap: 5px;
    align-items: center; /* Centre verticalement les éléments */
    color: white; /* Couleur du texte */
}

/* Styles pour chaque élément de la grille */
.location,
.sunrise,
.date,
.sunset {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre l'icône et le texte */
}

.date {
    font-weight: 100;
    font-size: small;
}

.temperature {
    font-size: 4.5em; /* Taille de la police */
    font-weight: 500; /* Épaisseur de la police */
    font-family: "ClashDisplay", sans-serif;
    display: flex;
    align-items: center; /* Centrer verticalement le contenu de .temperature */
    justify-content: center; /* Centrer horizontalement le contenu de .temperature */
    width: 100%; /* Assurer que la div occupe toute la largeur de son parent */
    margin-top: 70px; /* Ajouter un espacement supérieur si nécessaire */
    margin-bottom: 20px; /* Ajouter un espacement inférieur si nécessaire */;
}

.weather {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    padding: 7px; /* Ajoutez du padding pour assurer que le blur ne coupe pas le contenu */
    margin: 0 auto; /* Centrer horizontalement la div weather */
    width: fit-content; /* La largeur s'adapte au contenu */
}

/* Div de flou */
.weather-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2); /* Fond semi-transparent */
    backdrop-filter: blur(10px); /* Effet de flou */
    z-index: -1; /* Placez le flou derrière le contenu de .weather */
    border-radius: 10px; /* Ajustez pour arrondir les coins */
}

.background-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto; /* Ajustez la largeur selon vos besoins */
    height: 65vh; /* Ajustez la hauteur selon vos besoins */
    max-height: 100%; /* Assurez-vous que l'image ne dépasse pas la hauteur du parent */
    z-index: -1; /* Placez l'image en arrière-plan */
}

.ip-dashboard-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.ip-dashboard-button:hover {
    background-color: #545454;
}
