@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
}

.App {
  display: flex;
  min-height: 100vh;
  font: 'Archivo', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Crée deux colonnes de taille égale */
  width: 100%;
}


