html {
  background-color: #5C9BE5;
}

.App {
  display: flex;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Crée deux colonnes de taille égale */
  width: 100%;
}


